<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form class="formulario" >
    <div class="form-group col-md-4" >
      <label for="inputState">1. Usuarios</label>
      <select id="inputState" class="form-control">
        <option selected>Usuarios...</option>
        <option *ngFor="let item of personas">{{item.text}}</option>
      </select>
    </div>
    <div class="form-group col-md-4" >
      <label for="inputState">2. Formulario</label>
      <select id="inputState" class="form-control">
        <option selected>Formularios....</option>
        <option *ngFor="let item of formulario">{{item.text}}</option>
      </select>
    </div>


     
    <div class="custom-control custom-radio">
      <input type="radio"  name="customRadio" value="si" class="custom-control-input" 
      (change)="changeRadio($event)">
      <label class="custom-control-label" for="customRadio1" >Si</label>
    </div>

    <div class="custom-control custom-radio" >
      <input type="radio" name="customRadio" value="no" class="custom-control-input" (change)="changeRadio($event)">
      <label class="custom-control-label" for="customRadio1">No</label>
    </div>
 
    <input style="width: 360px;" class="form-control " type="text" placeholder="Default input" *ngIf="mostrarCodigo">   
    <button style="margin-top: 10px;" type="submit" (click)="alerta()" class="btn btn-primary">Guardar Datos</button>

  </form>
</body>
</html>